<!-- Search Bar -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input matInput type="text" placeholder="START TYPING...">
</div> <!-- #END# Search Bar -->

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a routerLink="/app/dashboard" class="navbar-brand"><i class="fa fa-cubes"></i> I M S</a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="javascript:;" (click)="toggleSidebar()">
                    <i class="fas fa-bars"></i>
                </a>
            </li>
        </ul>
        <div style="float: right;     margin-top: 20px">
            <a (click)="logout()"><span class="material-icons">
                    power_settings_new
                </span></a>
        </div>
        <div class="user-helper-dropdown" style="float: right; margin-top: 20px; margin-right: 10px;">
            <div class="name" data-toggle="dropdown" aria-haspopup="true">{{shownLoginName}}
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
            <!-- <i class="material-icons" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">keyboard_arrow_down</i> -->
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="javascript()" class="email"><i
                            class="material-icons">alternate_email</i>{{ appSession.user.emailAddress}}</a>
                </li>
                <li><a [routerLink]="['/app/update-password']"><i
                            class="material-icons">lock</i>{{ 'UpdatePassword' | localize }}</a></li>

            </ul>
        </div>

        <!-- <div class="collapse navbar-collapse" id="navbar-collapse" >
            <ul class="dropdown-menu navbar-right">
                <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                <topbar-languageswitch></topbar-languageswitch>
                <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                <a [routerLink]="['/app/update-password']"><i class="material-icons">lock</i>{{ 'UpdatePassword' | localize }}</a>
            </ul>
        </div> -->
    </div>
</nav>