<form autocomplete="off" #editTypeForm="ngForm">
  <h1 mat-dialog-title>{{ "Edit Type" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-form-field>
          <input
            matInput
            name="name"
            [placeholder]="'Name' | localize"
            [(ngModel)]="type.name"
            required
            minlength="2"
            maxlength="64"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            name="description"
            [placeholder]="'Description' | localize"
            [(ngModel)]="type.description"
          />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!editTypeForm.form.valid || saving"
      (click)="save()"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
