<form autocomplete="off" #editExpenseForm="ngForm" >
  <h1 mat-dialog-title>{{ "Edit Expense" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <div class="marginTop20">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="40" pInputText [(ngModel)]="expense.name" name="name"
              required>
            <label for="float-input">Expense</label>
          </span>
        </div>
        <div class="marginTop20">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="40" pInputText [(ngModel)]="expense.description" name="description"
              >
            <label for="float-input">Description</label>
          </span>
        </div>
        <div class="marginTop20">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="40" pInputText [(ngModel)]="expense.cost" name="cost"
              required>
            <label for="float-input">Cost</label>
          </span>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button expense="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      expense="submit"
      flex="15"
      color="primary"
      [disabled]="!editExpenseForm.form.valid || saving"
      (click)="save()"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
