<div [@routerTransition]>

    <div class="block-header">
        <h2>PRODUCT SALE DASHBOARD</h2>
    </div>

    <!-- Widgets -->
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 cursor-hand" (click)="getThisWeekGraphData()">
            <div class="info-box bg-pink hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">playlist_add_check</i>
                </div>
                <div class="content" (click)="getGraphData(appConsts.graphData.ThisWeek)">
                    <div class="text">This Week</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 cursor-hand" (click)="getThisMonthGraphData()">
            <div class="info-box bg-cyan hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">help</i>
                </div>
                <div class="content" >
                    <div class="text">This Month</div>
                    <div  class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 cursor-hand" (click)="getThisYearGraphData()">
            <div class="info-box bg-light-green hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">forum</i>
                </div>
                <div class="content" (click)="getGraphData(appConsts.graphData.ThisYear)">
                    <div class="text">This Year</div>
                    <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 cursor-hand" (click)="getAllYearGraphData()">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">person_add</i>
                </div>
                <div class="content">
                    <div class="text">All Years</div>
                    <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Widgets -->
    <!-- CPU Usage -->
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6">
                            <h2>CPU USAGE (%)</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 align-right">
                            <div class="switch panel-switch-btn">
                                <span class="m-r-10 font-12">REAL TIME</span>
                                <label>OFF<input type="checkbox" id="realtime" checked><span class="lever switch-col-cyan"></span>ON</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <p-chart *ngIf="viewGraph" type="bar" [data]="data"></p-chart>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# CPU Usage -->
    <div class="row clearfix">
        <!-- Sale -->
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card">
                <div *ngIf="sale" class="body" style="background-color: #42A5F5; color: white;">
                    <h5>Sale</h5>
                    <ul class="dashboard-stat-list">
                        <li>
                            TODAY
                            <span class="pull-right"><b>{{sale.today}}</b></span>
                        </li>
                        <li>
                            YESTERDAY
                            <span class="pull-right"><b>{{sale.yesterday}}</b></span>
                        </li>
                        <li>
                            This WEEK
                            <span class="pull-right"><b>{{sale.thisWeek}}</b></span>
                        </li>
                        <li>
                            This Month
                            <span class="pull-right"><b>{{sale.thisMonth}}</b></span>
                        </li>
                        <li>
                            This Year
                            <span class="pull-right"><b>{{sale.thisYear}}</b></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Costing -->
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" >
            <div class="card">
                <div *ngIf="costing" class="body" style="background-color: #FF6347; color: white;">
                    <h5>Costing</h5>
                    <ul class="dashboard-stat-list">
                        <li>
                            TODAY
                            <span class="pull-right"><b>{{costing.today}}</b></span>
                        </li>
                        <li>
                            YESTERDAY
                            <span class="pull-right"><b>{{costing.yesterday}}</b></span>
                        </li>
                        <li>
                            This WEEK
                            <span class="pull-right"><b>{{costing.thisWeek}}</b></span>
                        </li>
                        <li>
                            This Month
                            <span class="pull-right"><b>{{costing.thisMonth}}</b></span>
                        </li>
                        <li>
                            This Year
                            <span class="pull-right"><b>{{costing.thisYear}}</b></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
          <!-- Profit -->
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card">
                <div *ngIf="profit" class="body" style="background-color: #9CCC65; color: white;">
                    <h5>Profit</h5>
                    <ul class="dashboard-stat-list">
                        <li>
                            TODAY
                            <span class="pull-right"><b>{{profit.today}}</b></span>
                        </li>
                        <li>
                            YESTERDAY
                            <span class="pull-right"><b>{{profit.yesterday}}</b></span>
                        </li>
                        <li>
                            This WEEK
                            <span class="pull-right"><b>{{profit.thisWeek}}</b></span>
                        </li>
                        <li>
                            This Month
                            <span class="pull-right"><b>{{profit.thisMonth}}</b></span>
                        </li>
                        <li>
                            This Year
                            <span class="pull-right"><b>{{profit.thisYear}}</b></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
           <!-- Other Expenses -->
           <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card">
                <div *ngIf="expenses" class="body" style="background-color: #FF0000; color: white;">
                    <h5>Expenses</h5>
                    <ul class="dashboard-stat-list">
                        <li>
                            TODAY
                            <span class="pull-right"><b>{{expenses.today}}</b></span>
                        </li>
                        <li>
                            YESTERDAY
                            <span class="pull-right"><b>{{expenses.yesterday}}</b></span>
                        </li>
                        <li>
                            This WEEK
                            <span class="pull-right"><b>{{expenses.thisWeek}}</b></span>
                        </li>
                        <li>
                            This Month
                            <span class="pull-right"><b>{{expenses.thisMonth}}</b></span>
                        </li>
                        <li>
                            This Year
                            <span class="pull-right"><b>{{expenses.thisYear}}</b></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
    </div>

</div>