<form autocomplete="off" #editCompanyForm="ngForm">
  <h1 mat-dialog-title>Edit Company</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <div class="marginTop20">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="40" pInputText [(ngModel)]="company.name" name="company"
              minlength="2" maxlength="64" required>
            <label for="float-input">Company</label>
          </span>
        </div>
        <div class="marginTop20">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="40" pInputText [(ngModel)]="company.description" name="description"
              minlength="2" maxlength="64" required>
            <label for="float-input">Description</label>
          </span>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button company="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      company="submit"
      flex="15"
      color="primary"
      [disabled]="!editCompanyForm.form.valid || saving"
      (click)="save()"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
