<form autocomplete="off" #editShopProductForm="ngForm">
  <h1 mat-dialog-title>Edit Shop Product</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="marginTop20">
            <p-dropdown class="dropdown" [options]="productArrayObj" [(ngModel)]="selectedProductObj" filter="true"
              optionLabel="label" placeholder="Choose Product" name="product">
            </p-dropdown>
          </div>
          <div class="marginTop20">
            <p-dropdown class="dropdown" [options]="companyArrayObj" [(ngModel)]="selectedCompanyObj" filter="true"
              optionLabel="label" placeholder="Choose Companies" name = "company">
            </p-dropdown>
          </div>

          <div class="marginTop20">
            <span class="ui-float-label">
              <input id="float-input" type="text" pInputText [(ngModel)]="shopProduct.description" name="keyword">
              <label for="float-input">Description</label>
            </span>
          </div>
          <div class="marginTop20">
            <span class="ui-float-label">
              <input id="float-input" type="text" pInputText [(ngModel)]="shopProduct.wholeSaleRate"
                name="Wholesale Rate">
              <label for="float-input">Wholesale Rate</label>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="marginTop20">
            <span class="ui-float-label">
              <input id="float-input" type="text" pInputText [(ngModel)]="shopProduct.retailPrice"
                name="retailPrice">
              <label for="float-input">Retail Price</label>
            </span>
          </div>
          <div class="marginTop20">
            <span class="ui-float-label">
              <input id="float-input" type="text" pInputText [(ngModel)]="shopProduct.companyRate"
                name="companyRate">
              <label for="float-input">Company Rate</label>
            </span>
          </div>
          <div class="marginTop20">
            <span class="ui-float-label">
              <input id="float-input" type="text" pInputText [(ngModel)]="shopProduct.quantity"
                name="Quantity">
              <label for="float-input">Quantity</label>
            </span>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button shopProduct="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button mat-flat-button shopProduct="submit" flex="15" color="primary"
      [disabled]="!editShopProductForm.form.valid || saving" (click)="save()">
      {{ "Save" | localize }}
    </button>
  </div>
</form>
