<form autocomplete="off" #editSubTypeForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "EditSubType" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-form-field>
          <mat-select [placeholder]="l('IsActive')" [(ngModel)]="subType.productTypeId" name="isActive">
              <mat-option value="">{{ 'Choose Type' | localize }}</mat-option>
              <mat-option *ngFor="let type of types" [value]="type.id">{{ type.name}}</mat-option>
          </mat-select>
      </mat-form-field>
        <mat-form-field>
          <input
            matInput
            name="subType"
            [placeholder]="'SubType' | localize"
            [(ngModel)]="subType.name"
            required
            minlength="2"
            maxlength="64"
          />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!editSubTypeForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
